<div class = 'col-md-8 offset-2'>
  <h1><%=@post.title%></h1>
  <p><%=@post.content%></p>
  <p><small>Tags: <%= raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
</div>